/*--deep-saffron: #F9911F;
--xiketic: #1E0909;
--antique-bronze: #605D07;
--rufous: #AA2903;
--honey-yellow: #F9AF1D;*/

html {
  box-sizing: border-box;
}
body {
  color: #1E0909;
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  font-size: 15px;
  line-height: 1.5;
}
h1 {
  font-family: 'Parisienne', cursive;
  font-weight: 400;
  margin: 0;
  color: #F9911F;
  font-size: 150px;
}
img {
  max-width: 400px;
  float: none;
}
a {
  color: #605D07;
  font-weight: bold;
}
a:visited {
  color: #605D07;
}
a:hover {
  color: #F9AF1D;
  border-top: #1E0909 1px dotted;
  border-bottom: #1E0909 1px dotted;
  text-decoration: none;
}
a:active {
  color: #F9AF1D;
}
.poemTitle {
  font-weight: bold;
  border-bottom: 1px solid #F9AF1D;
}
.content-wrap {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;

}
/* ----sections */
header {
  background: #AA2903;
  padding: 40px;
  color: #F9911F;
  text-align: center;
}
/*--- Navigation---*/
/* Add a black background color to the top navigation */
.topnav {
 background-color: #F9AF1D;
 overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
 float: left;
 display: block;
 color: #f2f2f2;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
 background-color:  #605D07;
 color: #F9AF1D;
}

/* Add an active class to highlight the current page */
.topnav a.active {
 background-color: #AA2903;
 color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
 display: none;
}

/* ________________________
Media Queries
________________________ */

/* Use media queries to switch from a one-column mobile layout
to a two or more column */

/*--Desktop over 601 pixels ---*/
@media screen and (min-width: 601px) {
  /* css Grid https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Grids */
  .grid-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
    gap: 20px;
  }
  .grid-item {
    border: 2px solid #F9AF1D;
    padding: 10px;
  }
  img {
    float:left;
    padding-right:40px;
    padding-bottom: 40px;
  }
   .divider-wrapper {
     visibility: hidden;
   }
}

/* When the screen is less than 600 pixels wide, hide all navigation links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
       .topnav a:not(:first-child) {display: none;}
       .topnav a.icon {
         float: right;
         display: block;
       }
       h1 {
         font-size: 60px;
       }
       /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
       .topnav.responsive {position: relative;}
       .topnav.responsive a.icon {
         position: absolute;
         right: 0;
         top: 0;
       }
       .topnav.responsive a {
         float: none;
         display: block;
         text-align: left;
       }
       /* the fancy divider https://codepen.io/Oddgson/pen/VPrYbv */
       .divider-wrapper {
      	padding-bottom: 30px;
        }
        .divider {
        	position: relative;
        	margin-top: 30px;
        	height: 1px;
        }

        .div-transparent:before {
        	content: "";
        	position: absolute;
        	top: 0;
        	left: 5%;
        	right: 5%;
        	width: 90%;
        	height: 1px;
        	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
        }

       .div-dot:after {
          content: "";
          position: absolute;
          z-index: 1;
        	top: -9px;
          left: calc(50% - 9px);
        	width: 18px;
        	height: 18px;
        	background-color: #F9911F;
        	border: 1px solid rgb(48,49,51);
        	border-radius: 50%;
        	box-shadow: inset 0 0 0 2px white,
          					0 0 0 4px white;
          }

}
