/*--deep-saffron: #F9911F;
--xiketic: #1E0909;
--antique-bronze: #605D07;
--rufous: #AA2903;
--honey-yellow: #F9AF1D;*/

html {
  box-sizing: border-box;
}
body {
  color: #1E0909;
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  font-size: 15px;
  line-height: 1.5;
}
h1 {
  font-family: 'Parisienne', cursive;
  font-weight: 400;
  margin: 0;
  color: #F9911F;
  font-size: 200px;
}
img {
  max-width: 400px;
}
a {
  color: #605D07;
  font-weight: bold;
}
a:visited {
  color: #605D07;
}
a:hover {
  color: #F9AF1D;
  border-top: #1E0909 1px dotted;
  border-bottom: #1E0909 1px dotted;
  text-decoration: none;
}
a:active {
  color: #F9AF1D;
}
.content-wrap {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}
/* ----sections */
header {
  background: #AA2903;
  color: #F9911F;
}











/* ________________________
Media Queries
________________________ */


/* Use media queries to switch from a one-column mobile layout to a two or more column */
